<navbar-component></navbar-component>

<div id="wrapper">
    <!--<header-component></header-component>-->
    <div id="header">
        <div class="search-bar" style="margin-top: -7px">
            <form method="get" autocomplete="off">
                <div>
                    <input type="search" [(ngModel)]="realm" class="search-field input"  name="c" id="search-field" maxlength="200" tabindex="40"
                            alt="Search characters" placeholder="Server Name..." style="margin-bottom:3px" />
                            <br>
                    <div class="ui-typeahead-ghost"><input type="text" value="" autocomplete="off" readonly="readonly" class="search-field input input-ghost">
                        <input type="search" [(ngModel)]="character" class="search-field input" name="r" id="search-field" maxlength="200" tabindex="40"
                            alt="Search characters" placeholder="Character Name..." />
                        </div>
                    <input type="submit" (click)="searchCharacter()" class="search-button" value="" tabindex="41" style="margin-top: 1rem;" />
                </div>
            </form>
            <br>
            <br>
            <br>
        </div>
        <h1 id="logo"><a>World of Warcraft®</a></h1>
        <div class="new-feature-tip" id="feature-tip" style="display: none">
            <a data-label="World of Warcraft Game Guide" class="clickable">
                <span class="title">FEATURE UPDATED!</span>
                <strong>Scenarios </strong>
                <span class="desc">Check out our new guide pages with detailed information about the new Mists of Pandaria scenarios!</span>
            </a>
            <a href="javascript:;" class="close" rel="close" data-label="Close"></a>
        </div>

    </div>



    <div *ngIf="profile">
        <profile-component [items]="items" [profile]="profile"></profile-component>
        <footer-component></footer-component>
    </div>
</div>