<div id="content">
    <div class="content-top body-top">
        <div class="content-trail"></div>
        <div class="content-bot clear">

            <div id="profile-wrapper" class="profile-wrapper profile-wrapper-advanced profile-wrapper-horde profile-wrapper-light">

                <profile-sidebar></profile-sidebar>

                <div class="profile-contents">
                    <profile-top></profile-top>
                    <profile-bottom></profile-bottom>
                </div>


                <span class="clear"><!-- --></span>
            </div>

        </div>
    </div>
</div>