                <div class="profile-sidebar-anchor">
                    <div class="profile-sidebar-outer">
                        <div class="profile-sidebar-inner">
                            <div class="profile-sidebar-contents">

                                <div class="profile-info-anchor">
                                    <div class="profile-info" *ngIf="profile">
                                        <div class="name"><a href="/wow/en/character/uther/Swifty/" rel="np">{{profile.name}}</a></div>
                                        <div class="title-guild">
                                            <div class="title">Crusader </div>
                                            <div class="guild">
                                                <a href="/wow/en/guild/uther/Consumed_by_Hatred/?character=swifty">Consumed by Hatred</a>
                                            </div>
                                        </div>
                                        <span class="clear"><!-- --></span>
                                        <div class="under-name color-c2">
                                            <span class="level"><strong>{{profile.level}}</strong></span> <a href="/wow/en/game/race/blood-elf"
                                                class="race">Blood Elf</a> <a id="profile-info-spec" href="#talents" class="spec tip">Retribution</a>                                            <a href="/wow/en/game/class/paladin" class="class">Paladin</a><span class="comma">,</span>
                                            <span class="realm tip" id="profile-info-realm" data-battlegroup="Vengeance">
						{{profile.realm}}
					</span>
                                        </div>
                                        <div class="achievements"><a href="/wow/en/character/uther/Swifty/achievement">{{profile.achievementPoints}}</a></div>
                                    </div>
                                </div>
                                <ul class="profile-sidebar-menu" id="profile-sidebar-menu">
                                    <li class=" active">
                                        <a href="/wow/en/character/uther/Swifty/" class="" rel="np">
                                            <span class="arrow"><span class="icon">
				Summary
			</span></span>
                                        </a>
                                    </li>
                                    <li class=" disabled">
                                        <a href="javascript:;" class=" has-submenu vault" rel="np">
                                            <span class="arrow"><span class="icon">
				Auctions
			</span></span>
                                        </a>
                                    </li>
                                    <li class=" disabled">
                                        <a href="javascript:;" class=" vault" rel="np">
                                            <span class="arrow"><span class="icon">
				Events
			</span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/wow/en/character/uther/Swifty/achievement" class=" has-submenu" rel="np">
                                            <span class="arrow"><span class="icon">
				Achievements
			</span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/wow/en/character/uther/Swifty/challenge" class="" rel="np">
                                            <span class="arrow"><span class="icon">
				Challenge Mode
			</span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/wow/en/character/uther/Swifty/pet" class="" rel="np">
                                            <span class="arrow"><span class="icon">
				Pets &amp; Mounts
			</span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/wow/en/character/uther/Swifty/profession/" class=" has-submenu" rel="np">
                                            <span class="arrow"><span class="icon">
				Professions
			</span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/wow/en/character/uther/Swifty/reputation/" class="" rel="np">
                                            <span class="arrow"><span class="icon">
				Reputation
			</span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/wow/en/character/uther/Swifty/pvp" class="" rel="np">
                                            <span class="arrow"><span class="icon">
				PvP
			</span></span>
                                        </a>
                                    </li>
                                    <li class="">

                                        <a href="/wow/en/character/uther/Swifty/feed" class="" rel="np">
                                            <span class="arrow"><span class="icon">
				Activity Feed
			</span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/wow/en/guild/uther/Consumed_by_Hatred/?character=swifty" class=" has-submenu" rel="np">
                                            <span class="arrow"><span class="icon">
				Guild
			</span></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="summary-sidebar-links">
                                    <span class="summary-sidebar-button">
									<a href="javascript:;" id="summary-link-tools" class="summary-link-tools"></a>
								</span>
                                    <span class="summary-sidebar-button">
	                                    <a href="javascript:;" data-fansite="character|US|Swifty|uther" class="fansite-link "> </a>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>