<div class="profile-sidebar-anchor">
    <div class="profile-sidebar-outer">
        <div class="profile-sidebar-inner">
            <div class="profile-sidebar-contents">

                <div class="profile-info-anchor">
                    <div class="profile-info" *ngIf="profile">
                        <div class="name"><a>{{profile.name}}</a></div>
                        <div class="title-guild">
                            <div class="title" *ngIf="profile.titles">
                                <div *ngFor="let title of profile.titles">
                                    <div *ngIf="title.selected">
                                        {{title.name.replace('%s','')}}
                                    </div>
                                </div>
                            </div>
                            <div class="guild" *ngIf="profile.guild">
                                <a>{{profile.guild.name}}</a>
                            </div>
                        </div>
                        <span class="clear"><!-- --></span>
                        <div class="under-name color-c{{profile.class}}">
                            <span class="level"><strong>{{profile.level}}</strong>
                            </span>
                            <span *ngFor="let race of races">
                                <span *ngIf="race.id === profile.race">
                                    <span class="race">{{race.name}}</span>
                                </span>
                            </span>
                            <span *ngIf="profile.talents">
                                  <span *ngFor="let talent of profile.talents">
                                       <span *ngIf="talent.selected">
                                            <a id="profile-info-spec">{{talent.spec.name}}</a>
                                       </span>
                                </span>
                            </span>
                            <span *ngFor="let class of classes">
                                <span *ngIf="class.id === profile.class">
                                    <a class="class">{{class.name}}</a><span class="comma">,</span>
                                </span>
                            </span>
                            <span id="profile-info-realm" data-battlegroup="Vengeance">
						        {{profile.realm}}
					        </span>
                        </div>
                        <div class="achievements"><a>{{profile.achievementPoints}}</a></div>
                    </div>
                </div>




                <ul class="profile-sidebar-menu" id="profile-sidebar-menu">
                    <li class=" active">
                        <a class="" >
                            <span class="arrow"><span class="icon">
				                Summary
			                </span></span>
                        </a>
                    </li>
                    <li class=" disabled" *ngFor="let menu of menus">
                        <a class="vault">
                            <span class="arrow"><span class="icon">
				                {{menu}}
			                </span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>