<div class="nav-footer-wrapper">
    <div id="nav-client-footer" class="nav-client">
        <div class="footer-content footer-desktop grid-container">
            <div class="nav-section support-feedback">
                <div class="nav-left">
                    <div id="nav-feedback">
                        <a id="nav-client-news" class="nav-item nav-a nav-item-btn" href="http://us.battle.net/support/" data-analytics="global-nav"
                            data-analytics-placement="Footer - Support"><i class="nav-icon-24-blue nav-icon-question-circle"></i>Support</a>
                        <a class="nav-item nav-a nav-item-btn" href="/feedback" data-analytics="global-nav" data-analytics-placement="Footer - Feedback"><i class="nav-icon-24-blue nav-icon-edit"></i>Feedback</a>
                    </div>
                </div>
                <div class="nav-right">
                    <div id="nav-client-region-select">
                        <div class="dropdown dropup pull-right">
                            <a class="dropdown-toggle nav-item" data-toggle="dropdown">
                                <i class="nav-icon-24-blue nav-icon-globe"></i>Americas - English (US)<b class="caret"></b>
                            </a>
                            <div class="dropdown-menu" data-placement="top">
                                <div class="arrow bottom"></div>
                                <div id="nav-client-international-desktop">
                                    <div class="nav-international-container">
                                        <div class="dropdown-section nav-column-container">
                                            <div class="nav-column-50">
                                                <div id="select-regions" class="nav-box regions">
                                                    <h3>Region</h3>
                                                    <ul class="region-ul">
                                                        <li class="region active current"><a class="nav-item select-region" href="javascript:;" data-target="us">Americas</a></li>
                                                        <li class="region "><a class="nav-item select-region" href="javascript:;" data-target="eu">Europe</a></li>
                                                        <li class="region "><a class="nav-item select-region" href="javascript:;" data-target="kr">Korea</a></li>
                                                        <li class="region "><a class="nav-item select-region" href="javascript:;" data-target="tw">Taiwan</a></li>
                                                        <li class="region "><a class="nav-item select-region" href="javascript:;" data-target="cn">China</a></li>
                                                        <li class="region "><a class="nav-item select-region" href="javascript:;" data-target="sea">Southeast Asia</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="nav-column-50">
                                                <div id="select-language" class="nav-box languages">
                                                    <h3>Language</h3>
                                                    <div class="region region-languages active current" data-region="us">
                                                        <ul class="region-ul">
                                                            <li class="active current">
                                                                <a class="nav-item select-language" href="http://us.battle.net/wow/en-us/character/uther/Swifty/advanced" data-target="us"
                                                                    data-language="en-us">English (US)</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://us.battle.net/wow/es-mx/character/uther/Swifty/advanced" data-target="us"
                                                                    data-language="es-mx">Español (AL)</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://us.battle.net/wow/pt-br/character/uther/Swifty/advanced" data-target="us"
                                                                    data-language="pt-br">Português (AL)</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://us.battle.net/wow/ja-jp/character/uther/Swifty/advanced" data-target="us"
                                                                    data-language="ja-jp">日本</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="region region-languages " data-region="eu">
                                                        <ul class="region-ul">
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://eu.battle.net/wow/de-de/character/uther/Swifty/advanced" data-target="eu"
                                                                    data-language="de-de">Deutsch</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://eu.battle.net/wow/en-gb/character/uther/Swifty/advanced" data-target="eu"
                                                                    data-language="en-gb">English (EU)</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://eu.battle.net/wow/es-es/character/uther/Swifty/advanced" data-target="eu"
                                                                    data-language="es-es">Español (EU)</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://eu.battle.net/wow/fr-fr/character/uther/Swifty/advanced" data-target="eu"
                                                                    data-language="fr-fr">Français</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://eu.battle.net/wow/it-it/character/uther/Swifty/advanced" data-target="eu"
                                                                    data-language="it-it">Italiano</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://eu.battle.net/wow/pl-pl/character/uther/Swifty/advanced" data-target="eu"
                                                                    data-language="pl-pl">Polski</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://eu.battle.net/wow/pt-br/character/uther/Swifty/advanced" data-target="eu"
                                                                    data-language="pt-br">Português (AL)</a>
                                                            </li>
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://eu.battle.net/wow/ru-ru/character/uther/Swifty/advanced" data-target="eu"
                                                                    data-language="ru-ru">Русский</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="region region-languages " data-region="kr">
                                                        <ul class="region-ul">
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://kr.battle.net/wow/ko-kr/character/uther/Swifty/advanced" data-target="kr"
                                                                    data-language="ko-kr">한국어</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="region region-languages " data-region="tw">
                                                        <ul class="region-ul">
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://tw.battle.net/wow/zh-tw/character/uther/Swifty/advanced" data-target="tw"
                                                                    data-language="zh-tw">繁體中文</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="region region-languages " data-region="cn">
                                                        <ul class="region-ul">
                                                            <li class="">
                                                                <a class="nav-item select-language" href="http://www.battlenet.com.cn/wow/character/uther/Swifty/advanced" data-target="cn"
                                                                    data-language="zh-cn">简体中文</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="region region-languages " data-region="sea">
                                                        <ul class="region-ul">
                                                            <li class="active current">
                                                                <a class="nav-item select-language" href="http://sea.battle.net/wow/en-us/character/uther/Swifty/advanced" data-target="sea"
                                                                    data-language="en-us">English (US)</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-section dropdown-well nav-box localeChange">
                                        <a id="nav-client-change-language-desktop" href="javascript:;" class="nav-lang-change nav-btn disabled">Change</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-section">
                <div class="nav-left nav-logo-group">
                    <div class="footer-logo nav-left">
                        <a class="nav-item logo-link" href="http://us.blizzard.com/" data-analytics="global-nav" data-analytics-placement="Footer - Blizzard Logo"><img class="blizzard-logo" src="/wow/static/images/nav-client/blizzard.png?v=58-116" alt="" /></a>
                    </div>
                    <div class="footer-links nav-left">
                        <a class="nav-item nav-a" href="http://jobs.blizzard.com/" data-analytics="global-nav" data-analytics-placement="Footer - Careers">Careers</a>
                        <span>|</span>
                        <a class="nav-item nav-a" href="http://us.blizzard.com/company/about/" data-analytics="global-nav" data-analytics-placement="Footer - About">About</a>
                        <span>|</span>
                        <a class="nav-item nav-a" href="http://us.blizzard.com/company/about/privacy.html" data-analytics="global-nav" data-analytics-placement="Footer - Privacy">Privacy</a>
                        <span>|</span>
                        <a class="nav-item nav-a" href="http://us.blizzard.com/company/legal/" data-analytics="global-nav" data-analytics-placement="Footer - Terms">Terms</a>
                        <span>|</span>
                        <a class="nav-item nav-a" href="//dev.battle.net" data-analytics="global-nav" data-analytics-placement="Footer - API">API</a>
                        <div class="copyright">©2016 Blizzard Entertainment, Inc.</div>
                        <div class="nav-footer-icon-container">
                            <ul class="nav-footer-icon-list">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-ratings">
                    <div class="legal-rating">
                        <a class="truste-link logo-link" href="//privacy.truste.com/privacy-seal/Blizzard-Entertainment,-Inc-/validation?rid=08913c4b-117c-4f4c-9063-e68a2b929dc5"
                            rel="nofollow" target="_blank">
                            <img class="legal-image" src="/wow/static/images/legal/privacy-seal-truste.png?v=58-116" />
                        </a>
                    </div>
                    <div class="legal-rating">
                        <div class="product-rating esrb-rating clearfix">
                            <a href="http://www.esrb.org/ratings/ratings_guide.jsp" tabindex="1" rel="external" target="_blank">


Blood and Gore
Crude Humor
Mild Language
Suggestive Themes
Use of Alcohol
Violence
Online Interactions Not Rated by theESRB




//






//

Loading</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>