<div id="nav-client-header" class="nav-client compact">
    <div id="nav-client-bar">
        <div class="grid-container nav-header-content">
            <ul class="nav-list nav-left" id="nav-client-main-menu">
                <li>
                    <a id="nav-client-home" class="nav-item nav-home" href="http://us.battle.net/" data-analytics="global-nav" data-analytics-placement="Nav - Battle.net Icon"></a>
                </li>
                <li>
                    <div class="dropdown games">
                        <a class="dropdown-toggle nav-link needsclick active" data-toggle="dropdown">
Games
<b class="caret"></b>
</a>
                        <div class="dropdown-menu">
                            <ul class="nav-product-card-container games-menu" role="menu">
                                <li>
                                    <a class="nav-item game-icon" href="http://us.battle.net/wow/" data-analytics="global-nav" data-analytics-placement="Nav - Games - World of Warcraft"><i class="nav-icon-wow"></i>World of Warcraft®</a>
                                </li>
                                <li>
                                    <a class="nav-item game-icon" href="http://us.battle.net/d3/" data-analytics="global-nav" data-analytics-placement="Nav - Games - Diablo III"><i class="nav-icon-d3"></i>Diablo® III</a>
                                </li>
                                <li>
                                    <a class="nav-item game-icon" href="http://us.battle.net/sc2/" data-analytics="global-nav" data-analytics-placement="Nav - Games - StarCraft II"><i class="nav-icon-sc2"></i>StarCraft® II</a>
                                </li>
                                <li>
                                    <a class="nav-item game-icon" href="http://us.battle.net/hearthstone/" data-analytics="global-nav" data-analytics-placement="Nav - Games - Hearthstone"><i class="nav-icon-hearthstone"></i>Hearthstone®</a>
                                </li>
                                <li>
                                    <a class="nav-item game-icon" href="http://us.battle.net/heroes/" data-analytics="global-nav" data-analytics-placement="Nav - Games - Heroes of the Storm"><i class="nav-icon-heroes"></i>Heroes of the Storm™</a>
                                </li>
                                <li>
                                    <a class="nav-item game-icon" href="http://us.battle.net/overwatch/" data-analytics="global-nav" data-analytics-placement="Nav - Games - Overwatch"><i class="nav-icon-overwatch"></i>Overwatch™</a>
                                </li>
                            </ul>
                            <div class="dropdown-well dropdown-section download-btn">
                                <a class="nav-item nav-a nav-item-box" href="http://us.battle.net/games/classic" data-analytics="global-nav" data-analytics-placement="Nav - Games - Classic Games"><i class="nav-icon-24-blue nav-icon-mouse"></i>Classic Games</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a id="nav-client-shop" class="nav-item nav-link needsclick" href="https://us.battle.net/shop/" data-analytics="global-nav"
                        data-analytics-placement="Nav - Shop">Shop</a>
                </li>
            </ul>
            <ul class="nav-list nav-right" id="nav-client-account-menu">
                <li>
                    <div id="username">
                        <div class="dropdown pull-right">
                            <a class="nav-link username username--loggedout needsclick dropdown-toggle" data-toggle="dropdown" rel="navbar">
Your account
<b class="caret"></b>
</a>
                            <div class="dropdown-menu">
                                <div class="arrow top"></div>
                                <div class="user-profile">
                                    <div class="dropdown-section">
                                        <div class="nav-box">
                                            <a class="nav-item nav-btn nav-btn-block nav-login-btn" href="?login" data-analytics="global-nav" data-analytics-placement="Nav - Account - Log In">Log In</a>
                                        </div>
                                    </div>
                                    <div class="dropdown-section">
                                        <ul class="nav-list">
                                            <li>
                                                <a class="nav-item nav-a nav-item-box" href="http://us.battle.net/account/management/" data-analytics="global-nav" data-analytics-placement="Nav - Account - Settings"><i class="nav-icon-24-blue nav-icon-character-cog"></i>Account Settings</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a id="nav-client-support-link" class="nav-item nav-link needsclick" href="http://us.battle.net/support/" data-analytics="global-nav"
                        data-analytics-placement="Nav - Support"> Support </a>
                </li>
                <li>
                    <div class="nav-notification-icon">
                        <a class="dropdown-toggle needsclick nav-item" rel="navbar">
                            <i class="needsclick nav-icon-bell"></i>
                        </a>
                        <div class="nav-notification-dropdown dropdown-menu">
                            <div class="arrow top"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-notification-responsive-container">
        <div class="nav-notification-dropdown dropdown-menu">
            <div class="arrow top"></div>
        </div>
    </div>
</div>