<div id="nav-client-header" class="nav-client compact">
    <div id="nav-client-bar">
        <div class="grid-container nav-header-content">
            <ul class="nav-list nav-left" id="nav-client-main-menu">
                <li>
                    <a id="nav-client-home" class="nav-item nav-home" data-analytics="global-nav" data-analytics-placement="Nav - Battle.net Icon"></a>
                </li>
                <li>
                    <div class="dropdown games">
                        <a class="dropdown-toggle nav-link needsclick active" data-toggle="dropdown">
                        Home
                        </a>
                    </div>
                </li>
                <li>
                    <a id="nav-client-shop" class="nav-item nav-link needsclick" data-analytics="global-nav"
                        data-analytics-placement="Nav - Shop">About</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-notification-responsive-container">
        <div class="nav-notification-dropdown dropdown-menu">
            <div class="arrow top"></div>
        </div>
    </div>
</div>